h1.web-title {
    position: sticky;
	top: 0;
	color: rgb(197, 197, 220);
    font-size: 70px;
	
	height: 220px;

	background-image: url("images/web_banner.jpg");
	background-size: cover;
	z-index: 10;
}

body main {
	max-width: 1600px;
	min-width: 300px;
	
	padding-top: 20px;
	
	z-index: 5;
	position: relative;
	background-color:red;

}

p {
	font-size: 18px;
	line-height: 1.6;
	margin: 10px auto;
	color: black;
	text-align: justify;
}

a.web-title {
    text-decoration: none;      /* odstraní podtržení */
    color: inherit;             /* zachová barvu textu h1 */
}
a.web-title:visited {
    color: inherit;             /* zabrání změně barvy po kliknutí */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


nav {
	position: sticky;
	top: 70px;
	z-index: 20;	
	background-color: rgb(22, 43, 99);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	height: 60px;
	align-items: center;
	display: flex;
}


nav a {
	margin-left: 50px;
}